@font-face {
  font-family: "iconfont"; /* Project id 3719159 */
  src: url('iconfont.woff2?t=1666264103692') format('woff2'),
       url('iconfont.woff?t=1666264103692') format('woff'),
       url('iconfont.ttf?t=1666264103692') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move:before {
  content: "\e664";
}

.icon-notification-filled:before {
  content: "\e665";
}

.icon-a-order-adjustmentcolumn:before {
  content: "\e666";
}

.icon-notification:before {
  content: "\e667";
}

.icon-page-first:before {
  content: "\e668";
}

.icon-next:before {
  content: "\e669";
}

.icon-order-ascending:before {
  content: "\e66a";
}

.icon-page-last:before {
  content: "\e66b";
}

.icon-pause-circle:before {
  content: "\e66c";
}

.icon-pause:before {
  content: "\e66d";
}

.icon-order-descending:before {
  content: "\e66e";
}

.icon-photo:before {
  content: "\e66f";
}

.icon-pin-filled:before {
  content: "\e670";
}

.icon-play:before {
  content: "\e671";
}

.icon-pause-circle-filled:before {
  content: "\e672";
}

.icon-pin:before {
  content: "\e673";
}

.icon-play-circle:before {
  content: "\e674";
}

.icon-remove:before {
  content: "\e675";
}

.icon-save:before {
  content: "\e676";
}

.icon-service:before {
  content: "\e677";
}

.icon-server:before {
  content: "\e678";
}

.icon-rectangle:before {
  content: "\e679";
}

.icon-a-precisemonitor:before {
  content: "\e67a";
}

.icon-queue:before {
  content: "\e67b";
}

.icon-refresh:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-scan:before {
  content: "\e67e";
}

.icon-round:before {
  content: "\e67f";
}

.icon-poweroff:before {
  content: "\e680";
}

.icon-root-list:before {
  content: "\e681";
}

.icon-rotation:before {
  content: "\e682";
}

.icon-relativity:before {
  content: "\e683";
}

.icon-play-circle-filled:before {
  content: "\e684";
}

.icon-shop:before {
  content: "\e685";
}

.icon-print:before {
  content: "\e686";
}

.icon-slash:before {
  content: "\e687";
}

.icon-secured:before {
  content: "\e688";
}

.icon-qrcode:before {
  content: "\e689";
}

.icon-rollback:before {
  content: "\e68a";
}

.icon-play-circle-stroke:before {
  content: "\e68b";
}

.icon-share:before {
  content: "\e68c";
}

.icon-swap:before {
  content: "\e68d";
}

.icon-swap-left:before {
  content: "\e68e";
}

.icon-star-filled:before {
  content: "\e68f";
}

.icon-setting:before {
  content: "\e690";
}

.icon-swap-right:before {
  content: "\e691";
}

.icon-stop-circle:before {
  content: "\e692";
}

.icon-rollfront:before {
  content: "\e693";
}

.icon-previous:before {
  content: "\e6c5";
}

.icon-time:before {
  content: "\e6c6";
}

.icon-stop-circle-filled:before {
  content: "\e6c7";
}

.icon-sound:before {
  content: "\e6c8";
}

.icon-time-filled:before {
  content: "\e6c9";
}

.icon-star:before {
  content: "\e6ca";
}

.icon-thumb-down:before {
  content: "\e6cb";
}

.icon-thumb-up:before {
  content: "\e6cc";
}

.icon-tips:before {
  content: "\e6cd";
}

.icon-tools:before {
  content: "\e6ce";
}

.icon-unfold-less:before {
  content: "\e6cf";
}

.icon-unfold-more:before {
  content: "\e6d0";
}

.icon-user:before {
  content: "\e6d1";
}

.icon-user-add:before {
  content: "\e6d2";
}

.icon-upload:before {
  content: "\e6d3";
}

.icon-user-avatar:before {
  content: "\e6d4";
}

.icon-user-circle:before {
  content: "\e6d5";
}

.icon-usb:before {
  content: "\e6d6";
}

.icon-user-clear:before {
  content: "\e6d7";
}

.icon-usergroup:before {
  content: "\e6d8";
}

.icon-usergroup-add:before {
  content: "\e6d9";
}

.icon-user-talk:before {
  content: "\e6da";
}

.icon-video:before {
  content: "\e6db";
}

.icon-view-column:before {
  content: "\e6dc";
}

.icon-view-list:before {
  content: "\e6dd";
}

.icon-view-module:before {
  content: "\e6df";
}

.icon-zoom-out:before {
  content: "\e6e0";
}

.icon-usergroup-clear:before {
  content: "\e6e1";
}

.icon-zoom-in:before {
  content: "\e6e2";
}

.icon-wallet:before {
  content: "\e6e3";
}

.icon-wifi:before {
  content: "\e6e4";
}

.icon-bianji:before {
  content: "\e694";
}

.icon-yinzhangguanli:before {
  content: "\e695";
}

.icon-yangpinguanli:before {
  content: "\e696";
}

.icon-guanbi:before {
  content: "\e697";
}

.icon-a-zhongzhishuaxin:before {
  content: "\e698";
}

.icon-yonghu:before {
  content: "\e699";
}

.icon-yonghuguanli:before {
  content: "\e69a";
}

.icon-caidanguanli:before {
  content: "\e69b";
}

.icon-caozuorizhi:before {
  content: "\e69c";
}

.icon-ziyuanguanli:before {
  content: "\e69d";
}

.icon-zuzhiguanli:before {
  content: "\e69e";
}

.icon-jianyanrenwu:before {
  content: "\e69f";
}

.icon-jiaoseguanli:before {
  content: "\e6b4";
}

.icon-jianyanjihua:before {
  content: "\e6b5";
}

.icon-daoru:before {
  content: "\e6b6";
}

.icon-chaxun:before {
  content: "\e6b7";
}

.icon-quanxianguanli:before {
  content: "\e6b8";
}

.icon-mima:before {
  content: "\e6b9";
}

.icon-daochu:before {
  content: "\e6ba";
}

.icon-peizhiguanli:before {
  content: "\e6bb";
}

.icon-a-shanchulajitong:before {
  content: "\e6bc";
}

.icon-shouquanguanli:before {
  content: "\e6bd";
}

.icon-xitongcanshu:before {
  content: "\e6be";
}

.icon-shenjishuju:before {
  content: "\e6bf";
}

.icon-a-riqirili:before {
  content: "\e6c0";
}

.icon-a-xinzengtianjia:before {
  content: "\e6c1";
}

.icon-xitongguanli:before {
  content: "\e6c2";
}

.icon-xitonggongnengguanli:before {
  content: "\e6c3";
}

.icon-yanzhengma:before {
  content: "\e6c4";
}

.icon-zhineng-zhuti-01:before {
  content: "\e601";
}

.icon-zhineng-zizhu-01:before {
  content: "\e602";
}

.icon-shuju-shujuxueyuan-01:before {
  content: "\e605";
}

.icon-shuju-luoji-01:before {
  content: "\e606";
}

.icon-shuju-shujubiaozhun-01:before {
  content: "\e607";
}

.icon-tuisong-moxing-01:before {
  content: "\e608";
}

.icon-tuisong-tuisongpinlv-01:before {
  content: "\e609";
}

.icon-tuisong-tuisongduixiang-01:before {
  content: "\e60a";
}

.icon-fuwu-jiekou-01:before {
  content: "\e60b";
}

.icon-1fuwu-dandiandenglu-01:before {
  content: "\e60c";
}

.icon-1fuwu-yunjiagou:before {
  content: "\e60d";
}

.icon-1fuwu-APIjiekou:before {
  content: "\e60e";
}

.icon-fuwu-APIjiekou-01:before {
  content: "\e60f";
}

.icon-fuwu-yingyong-01:before {
  content: "\e610";
}

.icon-fuwu-kaifang-01:before {
  content: "\e611";
}

.icon-fuwu-shuju-01-01-01:before {
  content: "\e612";
}

.icon-tongyi-fuwujiankong-01:before {
  content: "\e613";
}

.icon-tongyi-fuwuqi-jiankong-01:before {
  content: "\e614";
}

.icon-tongyi-shuju-huiju:before {
  content: "\e615";
}

.icon-tongyi-tuisongjiankong-01:before {
  content: "\e616";
}

.icon-tongyi-disanfang-01-01:before {
  content: "\e617";
}

.icon-tongyi-shuju-liuxiang:before {
  content: "\e618";
}

.icon-keshihua-sanping:before {
  content: "\e619";
}

.icon-keshihua-shiliang:before {
  content: "\e61a";
}

.icon-keshihua-ditu:before {
  content: "\e61b";
}

.icon-keshihua-DIY-01:before {
  content: "\e61c";
}

.icon-shuju-duoweidu:before {
  content: "\e61d";
}

.icon-shuju-zhichi-01:before {
  content: "\e61e";
}

.icon-shuju-tuwen-01:before {
  content: "\e61f";
}

.icon-shouye-jiaoyu-01:before {
  content: "\e620";
}

.icon-shouye-caizheng-01:before {
  content: "\e621";
}

.icon-shouye-zhengwu-01:before {
  content: "\e65c";
}

.icon-shouye-dianzi-01:before {
  content: "\e65d";
}

.icon-shouye-xiangzheng-01:before {
  content: "\e65e";
}

.icon-shouye-chengshi-01-01-01:before {
  content: "\e65f";
}

.icon-shouye-rengcai-01-01:before {
  content: "\e660";
}

.icon-jiaoyu-xiaoyuan-01:before {
  content: "\e661";
}

.icon-jiaoyu-xiaoyuan-01-01:before {
  content: "\e662";
}

.icon-tuisong-tuisongtongdao20-01:before {
  content: "\e663";
}

.icon-cdpshujujicheng:before {
  content: "\e6a0";
}

.icon-dataphinzhinengshujugoujianyuguanli:before {
  content: "\e6a1";
}

.icon-datahubshujuzongxian:before {
  content: "\e6a2";
}

.icon-aireczhinengtuijian:before {
  content: "\e6a3";
}

.icon-datavDataVshujukeshihua:before {
  content: "\e6a4";
}

.icon-elasticsearchElasticsearch:before {
  content: "\e6a5";
}

.icon-odpsdashujujisuanfuwu:before {
  content: "\e6a6";
}

.icon-eprofileqiyetupu:before {
  content: "\e6a7";
}

.icon-hologramjiaohushifenxi:before {
  content: "\e6a8";
}

.icon-emapreduceE-MapReduce:before {
  content: "\e6a9";
}

.icon-graphcomputetujisuanfuwu:before {
  content: "\e6aa";
}

.icon-dideDataWorks:before {
  content: "\e6ab";
}

.icon-graphanalyticsguanxiwangluofenxi:before {
  content: "\e6ac";
}

.icon-poranahuaxiangfenxi:before {
  content: "\e6ad";
}

.icon-prophetgongzhongqushifenxi:before {
  content: "\e6ae";
}

.icon-opensearchkaifangsousuo:before {
  content: "\e6af";
}

.icon-scshishijisuanliujisuan:before {
  content: "\e6b0";
}

.icon-retuijianyinqing:before {
  content: "\e6b1";
}

.icon-openanalyticsshujuhufenxi:before {
  content: "\e6b2";
}

.icon-quickbiQuickBI:before {
  content: "\e6b3";
}

.icon-drpDataQuotienthuaxiangfenxi:before {
  content: "\e6de";
}

.icon-holowatcherquanxikongjian:before {
  content: "\e758";
}

.icon-shujuhugoujiandlf:before {
  content: "\e75f";
}

.icon-keshihuatubiao-:before {
  content: "\e644";
}

.icon-keshihuatubiao-1:before {
  content: "\e645";
}

.icon-keshihuatubiao-2:before {
  content: "\e646";
}

.icon-keshihuatubiao-3:before {
  content: "\e647";
}

.icon-keshihuatubiao-4:before {
  content: "\e648";
}

.icon-keshihuatubiao-5:before {
  content: "\e649";
}

.icon-keshihuatubiao-6:before {
  content: "\e64a";
}

.icon-keshihuatubiao-7:before {
  content: "\e64b";
}

.icon-keshihuatubiao-8:before {
  content: "\e64c";
}

.icon-keshihuatubiao-9:before {
  content: "\e64d";
}

.icon-keshihuatubiao-10:before {
  content: "\e64e";
}

.icon-keshihuatubiao-11:before {
  content: "\e64f";
}

.icon-keshihuatubiao-12:before {
  content: "\e650";
}

.icon-keshihuatubiao-13:before {
  content: "\e651";
}

.icon-keshihuatubiao-14:before {
  content: "\e652";
}

.icon-keshihuatubiao-15:before {
  content: "\e653";
}

.icon-keshihuatubiao-16:before {
  content: "\e654";
}

.icon-keshihuatubiao-17:before {
  content: "\e655";
}

.icon-keshihuatubiao-18:before {
  content: "\e656";
}

.icon-keshihuatubiao-19:before {
  content: "\e657";
}

.icon-keshihuatubiao-20:before {
  content: "\e658";
}

.icon-keshihuatubiao-21:before {
  content: "\e659";
}

.icon-keshihuatubiao-22:before {
  content: "\e65a";
}

.icon-keshihuatubiao-23:before {
  content: "\e65b";
}

.icon-anquan:before {
  content: "\e622";
}

.icon-diannao:before {
  content: "\e623";
}

.icon-jiejuefangan:before {
  content: "\e624";
}

.icon-fuzaijunheng:before {
  content: "\e625";
}

.icon-fuwuqi:before {
  content: "\e626";
}

.icon-jiaohuanji:before {
  content: "\e627";
}

.icon-luyouqi:before {
  content: "\e628";
}

.icon-kongzhitai:before {
  content: "\e629";
}

.icon-mianfeishiyong:before {
  content: "\e62a";
}

.icon-qiyezongbu:before {
  content: "\e62b";
}

.icon-qiyefenzhi:before {
  content: "\e62c";
}

.icon-yun:before {
  content: "\e62d";
}

.icon-shujuku:before {
  content: "\e62e";
}

.icon-SWANbianpai:before {
  content: "\e62f";
}

.icon-SWANfenxi:before {
  content: "\e630";
}

.icon-IDCjifang:before {
  content: "\e631";
}

.icon-wangluo:before {
  content: "\e632";
}

.icon-SWANkongzhi:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e634";
}

.icon-cuowu:before {
  content: "\e635";
}

.icon-zhengque:before {
  content: "\e636";
}

.icon-tingzhi:before {
  content: "\e637";
}

.icon-bangzhu:before {
  content: "\e638";
}

.icon-peizhi:before {
  content: "\e639";
}

.icon-kuaisu:before {
  content: "\e63a";
}

.icon-liulanqi:before {
  content: "\e63b";
}

.icon-dianhua:before {
  content: "\e63c";
}

.icon-SWANCPE:before {
  content: "\e63d";
}

.icon-wode:before {
  content: "\e63e";
}

.icon-guanyuwomen:before {
  content: "\e63f";
}

.icon-keshihua:before {
  content: "\e640";
}

.icon-Redisshujuku:before {
  content: "\e641";
}

.icon-zhineng:before {
  content: "\e642";
}

.icon-zhuye:before {
  content: "\e643";
}

