/* --------dark主题--------   */
:root[class='dark']{
  --ev-bg-color:#000;
  --ev-bg-tint-color:#505253;
  --ev-text-color:#fff;
  --ev-active-color:#73c088;
  --ev-active-tint-color:#A8E0B7;
  --ev-active-most-tint-color:#C8EAD1;
  --ev-active-fusco-color:#397d54;
}

/* --------light主题--------   */
:root[class='light']{
  --ev-bg-color:#FFFFFF;
  --ev-bg-tint-color:#BDBEBF;
  --ev-text-color:#020203;
  --ev-active-color:#6A57F5;
  --ev-active-tint-color:#5D4AF4;
  --ev-active-most-tint-color:#9793F8;
  --ev-active-fusco-color:#392E95;
}

