$--colors: (
  'white': #286EF1,
  'black': #fff,
  "primary": (
    "base": #53eb2d,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors
);
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;