.f-ca{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.f-cb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.f-cs{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.f-ra{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.f-rb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-rs{
  display: flex;
  align-items: center;
  justify-content: start;
}

.el-button{
  padding: 8px 15px;
}